# Data Processes Assignment 2

EIT Digital Data Science: \
Davis Siemens \
Inés Simón del Collado \
Xiya Sun

In [1]:
# libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# Reading files
hospital1 = pd.read_excel('./hospital1.xlsx', index_col=None)
hospital2 = pd.read_excel('./hospital2.xlsx', index_col=None)

(   patient ID  patient ID.1 nationality  age gender K=female E=male  \
 0    11850006      11850006        T.C.   47                      K
 1     4373630       4373630        T.C.   23                      K
 2    12172023      12172023        T.C.   26                      K
 3    72856168      72856168        T.C.   60                      K
 4    72200559      72200559        T.C.   72                      K

   date_of_first_symptoms BASVURUTARIHI  fever_temperature  oxygen_saturation  \
 0             2022-01-01    2022-01-01               38.2               96.0
 1             2022-01-01    2022-01-01               37.0               96.0
 2             2022-01-01    2022-01-01               38.0               95.0
 3             2022-01-01    2022-01-01               36.5               95.0
 4             2021-12-22    2021-12-22               36.9               96.0

    history_of_fever  ...  chronic_hematologic_disease  AIDS_HIV  \
 0                 0  ...                          0.0       0.0
 1                 1  ...                          0.0       0.0
 2                 1  ...                          0.0       0.0
 3                 0  ...                          0.0       0.0
 4                 0  ...                          0.0       0.0

    diabetes_mellitus_type_1  diabetes_mellitus_type_2  rheumatologic_disorder  \
 0                       0.0                       0.0                     0.0
 1                       0.0                       0.0                     0.0
 2                       0.0                       0.0                     0.0
 3                       0.0                       0.0                     0.0
 4                       0.0                       0.0                     0.0

    dementia  tuberculosis  smoking  other_risks  PCR_result
 0       0.0             0        0            0    positive
 1       0.0             0        0            0    positive
 2       0.0             0        0            0    positive
 3       0.0             0        0            0    positive
 4       0.0             0        0            0    positive

 [5 rows x 54 columns],
    patient_id  admission_id country_of_residence   age              sex  \
 0         NaN           NaN                  NaN   NaN              NaN
 1  88567155.0          45.0                 T.C.  52.0  E=male K=female
 2  36069621.0         181.0                 T.C.  47.0                K
 3  57644199.0          36.0                 T.C.  36.0                K
 4  81365404.0          32.0                 T.C.  30.0                E

   date_of_first_symptoms      admission_date  fever_temperature  \
 0                    NaT                 NaT                NaN
 1    2021-03-01 00:00:00 2021-03-01 00:00:00               37.3
 2    2021-03-01 08:38:00 2021-03-01 08:38:00               38.0
 3    2021-03-01 08:39:00 2021-03-01 08:39:00               37.5
 4    2021-03-01 09:25:00 2021-03-01 09:25:00               37.8

    oxygen_saturation  history_of_fever  ...  chronic_hematologic_disease  \
 0                NaN               NaN  ...                            0
 1               -1.0               0.0  ...                            0
 2               95.0               1.0  ...                            0
 3               88.0               0.0  ...                            0
 4               87.0               1.0  ...                            0

    AIDS_HIV  diabetes_mellitus_type_1  diabetes_mellitus_type_2  \
 0         0                         0                         0
 1         0                         0                         0
 2         0                         0                         0
 3         0                         0                         0
 4         0                         0                         0

    rheumatologic_disorder  dementia  tuberculosis  smoking  other_risks  \
 0                       0         0             0        0            0
 1                       0         0             0        0            0
 2                       0         0             0        0            0
 3                       0         0             0        0            0
 4                       0         0             0        0            0

    PCR_result
 0         NaN
 1    positive
 2    positive
 3    positive
 4    positive

 [5 rows x 54 columns])

In [4]:
# Display the first few rows of each dataframe to confirm they were read correctly
hospital1.head()

,patient ID,patient ID.1,nationality,age,gender K=female E=male,date_of_first_symptoms,BASVURUTARIHI,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
0,11850006,11850006,T.C.,47,K,2022-01-01,2022-01-01,38.2,96.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
1,4373630,4373630,T.C.,23,K,2022-01-01,2022-01-01,37.0,96.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
2,12172023,12172023,T.C.,26,K,2022-01-01,2022-01-01,38.0,95.0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
3,72856168,72856168,T.C.,60,K,2022-01-01,2022-01-01,36.5,95.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
4,72200559,72200559,T.C.,72,K,2021-12-22,2021-12-22,36.9,96.0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive

In [3]:
hospital2.head()

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,admission_date,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
1,88567155.0,45.0,T.C.,52.0,E=male K=female,2021-03-01 00:00:00,2021-03-01 00:00:00,37.3,-1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
2,36069621.0,181.0,T.C.,47.0,K,2021-03-01 08:38:00,2021-03-01 08:38:00,38.0,95.0,1.0,...,0,0,0,0,0,0,0,0,0,positive
3,57644199.0,36.0,T.C.,36.0,K,2021-03-01 08:39:00,2021-03-01 08:39:00,37.5,88.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
4,81365404.0,32.0,T.C.,30.0,E,2021-03-01 09:25:00,2021-03-01 09:25:00,37.8,87.0,1.0,...,0,0,0,0,0,0,0,0,0,positive

In [5]:
hospital1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14712 entries, 0 to 14711
Data columns (total 54 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   patient ID                       14712 non-null  int64
 1   patient ID.1                     14712 non-null  int64
 2   nationality                      14712 non-null  object
 3   age                              14712 non-null  int64
 4   gender K=female E=male           14712 non-null  object
 5   date_of_first_symptoms           14712 non-null  datetime64[ns]
 6   BASVURUTARIHI                    14712 non-null  datetime64[ns]
 7   fever_temperature                14244 non-null  float64
 8   oxygen_saturation                14708 non-null  float64
 9   history_of_fever                 14712 non-null  int64
 10  cough                            14712 non-null  int64
 11  sore_throat                      14712 non-null  int64
 12  runny_nose                       14712 non-null  int64
 13  wheezing                         14712 non-null  int64
 14  shortness_of_breath              14712 non-null  int64
 15  lower_chest_wall_indrawing       14712 non-null  int64
 16  chest_pain                       14712 non-null  int64
 17  conjunctivitis                   14712 non-null  int64
 18  lymphadenopathy                  14712 non-null  int64
 19  headache                         14712 non-null  int64
 20  loss_of_smell                    14712 non-null  int64
 21  loss_of_taste                    14712 non-null  int64
 22  fatigue_malaise                  14712 non-null  int64
 23  anorexia                         14712 non-null  int64
 24  altered_consciousness_confusion  14712 non-null  int64
 25  muscle_aches                     14712 non-null  int64
 26  joint_pain                       14712 non-null  int64
 27  inability_to_walk                14712 non-null  int64
 28  abdominal_pain                   14712 non-null  int64
 29  diarrhoea                        14712 non-null  int64
 30  vomiting_nausea                  14712 non-null  int64
 31  skin_rash                        14712 non-null  int64
 32  bleeding                         14712 non-null  int64
 33  other_symptoms                   14712 non-null  int64
 34  chronic_cardiac_disease          14712 non-null  int64
 35  hypertension                     14712 non-null  int64
 36  chronic_pulmonary_disease        14712 non-null  int64
 37  asthma                           14712 non-null  int64
 38  chronic_kidney_disease           14705 non-null  float64
 39  obesity                          14690 non-null  float64
 40  liver_disease                    14706 non-null  float64
 41  asplenia                         14690 non-null  float64
 42  chronic_neurological_disorder    14710 non-null  float64
 43  malignant_neoplasm               14712 non-null  int64
 44  chronic_hematologic_disease      14710 non-null  float64
 45  AIDS_HIV                         14710 non-null  float64
 46  diabetes_mellitus_type_1         14709 non-null  float64
 47  diabetes_mellitus_type_2         14710 non-null  float64
 48  rheumatologic_disorder           14710 non-null  float64
 49  dementia                         14710 non-null  float64
 50  tuberculosis                     14712 non-null  int64
 51  smoking                          14712 non-null  int64
 52  other_risks                      14712 non-null  int64
 53  PCR_result                       13536 non-null  object
dtypes: datetime64[ns](2), float64(13), int64(36), object(3)
memory usage: 6.1+ MB

In [ ]:
# lets see if both dates have the same value for each row
mismatched_rows = hospital1[hospital1['date_of_first_symptoms'] != hospital1['BASVURUTARIHI']]
mismatched_rows #since we have the same values, we can drop one column

Empty DataFrame
Columns: [patient ID, patient ID.1, nationality, age, gender K=female E=male, date_of_first_symptoms, BASVURUTARIHI, fever_temperature, oxygen_saturation, history_of_fever, cough, sore_throat, runny_nose, wheezing, shortness_of_breath, lower_chest_wall_indrawing, chest_pain, conjunctivitis, lymphadenopathy, headache, loss_of_smell, loss_of_taste, fatigue_malaise, anorexia, altered_consciousness_confusion, muscle_aches, joint_pain, inability_to_walk, abdominal_pain, diarrhoea, vomiting_nausea, skin_rash, bleeding, other_symptoms, chronic_cardiac_disease, hypertension, chronic_pulmonary_disease, asthma, chronic_kidney_disease, obesity, liver_disease, asplenia, chronic_neurological_disorder, malignant_neoplasm, chronic_hematologic_disease, AIDS_HIV, diabetes_mellitus_type_1, diabetes_mellitus_type_2, rheumatologic_disorder, dementia, tuberculosis, smoking, other_risks, PCR_result]
Index: []

[0 rows x 54 columns]

In [14]:
# we drop the column BASVURUTARIHI and we only keep the date of the date_of_symp
hospital1.drop(['BASVURUTARIHI'], axis=1, inplace=True)
hospital1['date_of_first_symptoms'] = hospital1['date_of_first_symptoms'].dt.date
hospital1.head()

,patient ID,patient ID.1,nationality,age,gender K=female E=male,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
0,11850006,11850006,T.C.,47,K,2022-01-01,38.2,96.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
1,4373630,4373630,T.C.,23,K,2022-01-01,37.0,96.0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
2,12172023,12172023,T.C.,26,K,2022-01-01,38.0,95.0,1,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
3,72856168,72856168,T.C.,60,K,2022-01-01,36.5,95.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive
4,72200559,72200559,T.C.,72,K,2021-12-22,36.9,96.0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,0,positive

In [6]:
hospital2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12737 entries, 0 to 12736
Data columns (total 54 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   patient_id                       12734 non-null  float64
 1   admission_id                     12734 non-null  float64
 2   country_of_residence             12734 non-null  object
 3   age                              12734 non-null  float64
 4   sex                              12734 non-null  object
 5   date_of_first_symptoms           12734 non-null  datetime64[ns]
 6   admission_date                   12734 non-null  datetime64[ns]
 7   fever_temperature                11515 non-null  float64
 8   oxygen_saturation                12730 non-null  float64
 9   history_of_fever                 12729 non-null  float64
 10  cough                            12736 non-null  float64
 11  sore_throat                      12736 non-null  float64
 12  runny_nose                       12734 non-null  float64
 13  wheezing                         12734 non-null  float64
 14  shortness_of_breath              12734 non-null  float64
 15  lower_chest_wall_indrawing       12734 non-null  float64
 16  chest_pain                       12734 non-null  float64
 17  conjunctivitis                   12734 non-null  float64
 18  lymphadenopathy                  12734 non-null  float64
 19  headache                         12736 non-null  float64
 20  loss_of_smell                    12736 non-null  float64
 21  loss_of_taste                    12736 non-null  float64
 22  fatigue_malaise                  12736 non-null  float64
 23  anorexia                         12736 non-null  float64
 24  altered_consciousness_confusion  12736 non-null  float64
 25  muscle_aches                     12736 non-null  float64
 26  joint_pain                       12736 non-null  float64
 27  inability_to_walk                12736 non-null  float64
 28  abdominal_pain                   12736 non-null  float64
 29  diarrhoea                        12736 non-null  float64
 30  vomiting_nausea                  12736 non-null  float64
 31  skin_rash                        12736 non-null  float64
 32  bleeding                         12698 non-null  float64
 33  other_symptoms                   12698 non-null  float64
 34  chronic_cardiac_disease          12736 non-null  float64
 35  hypertension                     12736 non-null  float64
 36  chronic_pulmonary_disease        12736 non-null  float64
 37  asthma                           12736 non-null  float64
 38  chronic_kidney_disease           12736 non-null  float64
 39  obesity                          12737 non-null  int64
 40  liver_disease                    12737 non-null  int64
 41  asplenia                         12737 non-null  int64
 42  chronic_neurological_disorder    12737 non-null  int64
 43  malignant_neoplasm               12737 non-null  int64
 44  chronic_hematologic_disease      12737 non-null  int64
 45  AIDS_HIV                         12737 non-null  int64
 46  diabetes_mellitus_type_1         12737 non-null  int64
 47  diabetes_mellitus_type_2         12737 non-null  int64
 48  rheumatologic_disorder           12737 non-null  int64
 49  dementia                         12737 non-null  int64
 50  tuberculosis                     12737 non-null  int64
 51  smoking                          12737 non-null  int64
 52  other_risks                      12737 non-null  int64
 53  PCR_result                       12703 non-null  object
dtypes: datetime64[ns](2), float64(35), int64(14), object(3)
memory usage: 5.2+ MB

In [9]:
# lets see if both dates have the same value for each row
mismatched_rows = hospital2[hospital2['date_of_first_symptoms'] != hospital2['admission_date']]
mismatched_rows #since we have the same values, we can drop one column

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,admission_date,fever_temperature,oxygen_saturation,history_of_fever,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
0,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
12735,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,positive
12736,NaN,NaN,NaN,NaN,NaN,NaT,NaT,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,positive

In [15]:
# we drop the column BASVURUTARIHI and we only keep the date of the date_of_symp
hospital2.drop(['admission_date'], axis=1, inplace=True)
hospital2['date_of_first_symptoms'] = hospital2['date_of_first_symptoms'].dt.date
hospital2.head()

,patient_id,admission_id,country_of_residence,age,sex,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,AIDS_HIV,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,PCR_result
0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
1,88567155.0,45.0,T.C.,52.0,E=male K=female,2021-03-01,37.3,-1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
2,36069621.0,181.0,T.C.,47.0,K,2021-03-01,38.0,95.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
3,57644199.0,36.0,T.C.,36.0,K,2021-03-01,37.5,88.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
4,81365404.0,32.0,T.C.,30.0,E,2021-03-01,37.8,87.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,positive

In [26]:
# we make the names of the columns in the same format
hospital1.columns = hospital1.columns.str.lower().str.replace(' ', '_')
hospital2.columns = hospital2.columns.str.lower().str.replace(' ', '_')

# let's see if both dataframes have the same column names 
columns_hospital1 = set(hospital1.columns)
columns_hospital2 = set(hospital2.columns)
comparison_df = pd.DataFrame({
    'Column': list(columns_hospital1.union(columns_hospital2)),
    'In_Hospital1': [col in columns_hospital1 for col in columns_hospital1.union(columns_hospital2)],
    'In_Hospital2': [col in columns_hospital2 for col in columns_hospital1.union(columns_hospital2)]
})

# let's see which columns are different
comparison_df[comparison_df['In_Hospital1'] != comparison_df['In_Hospital2']]

                    Column  In_Hospital1  In_Hospital2
14            patient_id.1          True         False
22  gender_k=female_e=male          True         False
27            admission_id         False          True
30    country_of_residence         False          True
37                     sex         False          True
51             nationality          True         False

In [ ]:
# observing these columns, we can notice that gender=sex and country=nationality. 
# we keep the patient_id and admission_id
rename_hospital1 = {'nationality': 'country',
                    'gender_k=female_e=male': 'gender'}
rename_hospital2 = {'country_of_residence': 'country',
                    'sex': 'gender'}

hospital1.rename(columns=rename_hospital1, inplace=True)
hospital2.rename(columns=rename_hospital2, inplace=True)

,patient_id,admission_id,country,age,gender,date_of_first_symptoms,fever_temperature,oxygen_saturation,history_of_fever,cough,...,chronic_hematologic_disease,aids_hiv,diabetes_mellitus_type_1,diabetes_mellitus_type_2,rheumatologic_disorder,dementia,tuberculosis,smoking,other_risks,pcr_result
0,NaN,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,...,0,0,0,0,0,0,0,0,0,NaN
1,88567155.0,45.0,T.C.,52.0,E=male K=female,2021-03-01,37.3,-1.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
2,36069621.0,181.0,T.C.,47.0,K,2021-03-01,38.0,95.0,1.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
3,57644199.0,36.0,T.C.,36.0,K,2021-03-01,37.5,88.0,0.0,0.0,...,0,0,0,0,0,0,0,0,0,positive
4,81365404.0,32.0,T.C.,30.0,E,2021-03-01,37.8,87.0,1.0,1.0,...,0,0,0,0,0,0,0,0,0,positive